<h2>Welcome</h2>

<p>Wecome to Meadowlark Travel!  Please 
    <ul>
        <li><a href="/newsletter-signup">Browser form submit</a></li>
        <li><a href="/newsletter">Async form submission</a></li>
    </ul>
    
    
</p>

{{> weather}}

